body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*
  1. 백그라운드에 orange이미지를 넣으세요.
  + 전체 서체를 'arial'로 바꿔보세요.

  2. .wrapper에 배경색을 주고 중앙정렬 해보세요.
  가로 960px

  3. .wrapper에 border를 넣고 둥그렇게 꾸며주세요.
  border-radius : 0px

  4. ul위치를 잡아주세요. li들도 한줄로 나오게 해주세요.

  5. .gnb를 꾸며주세요.

  6. p태그 레이아웃을 잡아주세요.

  7. 디테일 레이아웃, 오렌지 이미지 배치해주세요.
*/

body {
  background-image: url('images/orange-bg.jpg');
  font-family:'arial', sans-serif;
}

.wrapper {
  background-color: #fff;
  width: 960px;
  margin:30px auto;
  border:3px solid orange;
  border-radius: 30px;
  padding:30px;
  position: relative;
}

.wrapper .gnb {
  background-color: orange;
  position: absolute;
  right:0;
  top:0;
  padding:0 10px;
  margin:30px;
  border-radius: 30px;
}

.wrapper .gnb li {
  float:left;
}

.wrapper .gnb li a {
  display: block;
  height:50px;
  line-height: 50px;
  color:white;
  padding:0 10px;
}

.wrapper h1 {
  color:orange;
  margin-bottom: 10px;
}

.wrapper p {
  width:300px;
  float: left;
  margin-right: 30px;
  line-height: 1.3;
}

.wrapper .point {
  position: absolute;
  right:-30px;
  bottom:-100px;
}